.simple_slider{


    .bgimage {
        width: 100%;
        background-image: url("../../Assets/bannerimage/1669977714154women-health-inner-banner1\ 1.jpg");
        background-position: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        padding: 10px;
      }

}