.hospital_details_main_container{
    .hospital_details_back_image{
        width: 100%;
          background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.623), rgba(6, 5, 5, 0.747)), url('../../Assets/backgroundimages/th\ 1.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
      /* padding: 10px; */
      
      /* height: 146px; */
      
      }
}

