.ambulance_details_container_wrapper{
 
    width: 100%;
//     background-image: linear-gradient(0deg, rgba(16, 15, 15, 0.21), rgba(6, 5, 5, 0.248)), url('../../Assets/backgroundimages/ambulance.jpg');
//     height: 100%;
// background-position: center;
// background-size: contain;
// background-repeat: no-repeat;
// background-size: cover;

   
    .containerr {
           display: flex;
           flex-direction: column;
           // justify-content: center;
           // align-items: center;
           position: relative;
           width: 80%;
       margin: 0 auto;
        word-break: break-all;
   
           
         }
         
         .bloc-tabs {
           display: flex;
   
           gap: 9px;
          
           justify-content: center;
           align-items: center;
           
           
           // margin: 0 auto;
           
         }
         .tabs {
         
           padding: 12px ;
           text-align: center;
           width: 183px;
      display: flex;
        justify-content: center;
        
        font-weight: 400;
        font-size:   20px;
           // background: rgba(128, 128, 128, 0.075);
           cursor: pointer;
           border: 3px solid #051614;
           box-sizing: content-box;
           position: relative;
           outline: none;
         }
         .tabs:not(:last-child){
           border-right: 1px solid rgba(0, 0, 0, 0.274);
         }
         
         .active-tabs  {
           background: red;
           border: none;
           color: white;
         }
         
         .active-tabs::before {
           content: "";
       
           display: block;
           position: absolute;
           top: -5px;
           left: 50%;
           transform: translateX(-50%);
           width: calc(100% + 2px);
           height: 5px;
           // background: rgb(88, 147, 241);
         }
         
         
         
         button {
           border: none;
           color: black#000000 ;
           font-family: 'Josefin Sans';
   
           
         }
         .content-tabs {
           // flex-grow : 1;
         
   
   
         }
         .content {
           
           padding: 20px 0px;
           // display: grid;
           // grid-template-columns: repeat(6,1fr);
           display: none;
         }
       
         .active-content {
           display: block;
        
         }
         .tab_content_images{
           display: grid;
           grid-template-columns: repeat(6,1fr);
           grid-row-gap: 20px;
           grid-column-gap: 28px;
           // max-width: 1570px;
           // max-width: 97%;
         }
   
   
   
         .tab_back_imege{
         
           background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.712), rgba(255, 255, 255, 0.73)),url('../../Assets/backgroundimages/image\ 1.png');
           background-position: center;
           background-size: cover;
           background-repeat: no-repeat;
           display: flex;
           justify-content: center;
           align-items: center;
           width: 201px;
           height: 149px;
     
           font-family: 'Playfair Display';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
   
         
         letter-spacing: 0.02em;
         
         color: #000000;
         }
         /* ----------------------------------tab section style end --------------------------- */
         
       //   .back_image_container{
       //     width: 201px;
       //     height: 149px;
       //   }
       //   .tab_bac_image{
       //     background-position: center;
       //     background-repeat: no-repeat;
       //     background-size: cover;
       //     height: 200px;
       //   }
         
       //   .tabsubcontainer{
       //     width: 201px;
       //     height: 149px;
       
       //   }
       .outline_button{
         background: transparent;
         border: 1px solid black;
         padding: 12px 0px;
         width: 210px;
         color: black;
         border-radius: 5px;
   
       }
       .outline_button:hover{
         background:#026E5F;
         border: none;
         color: white;
         transition: .6s;
       }
       

}