.checkout_parent_container_wrapper{
    background:white;
         
         .bloc-tabs {
           display: flex;
           align-items: center;
           
         }
         .tabs {
            border: solid;
           text-align: center;
           width: 183px;
        display: flex;
        justify-content: center;        
        font-weight: 400;
        font-size:   20px;
           cursor: pointer;
           border: 1px solid #91C1BB;
           box-sizing: content-box;
           position: relative;
           outline: none;
         }
         .tabs:not(:last-child){
           border-right: 1px solid rgba(0, 0, 0, 0.274);
         }
         
         .active-tabs  {
           background: #B4B4B4;
           border: none;
           color: black;  
         }
         
         .active-tabs::before {
           content: "";
           display: block;
           position: absolute;
           top: -5px;
           left: 50%;
           transform: translateX(-50%);
           width: calc(100% + 2px);
           height: 5px;           
         }
         
         
         .containerr{
            button {
                color: black#000000 ;
                font-family: 'Josefin Sans';
              }
         }
      
         .content {
           background: white;
           padding: 20px 0px;
           display: none;
         }
       
         .active-content {
           display: block;
        
         }

         @media only screen and (max-width: 644px) {
          .content {
            background: white;
         
          
          }
          .tabs {
          // font-size: 10px;
          // word-break: break-all;
       
         }
         .bloc-tabs {
        width: 97vw;
        margin: 0 auto;
          
        }



        }

   
}