.Telemedicinebenefits_parent_container{

    .booknowDiagonostics_banner_section{
        width: 100%;
        background-image:linear-gradient(0deg, rgba(122, 117, 117, 0.415), rgba(151, 149, 149, 0.463)), url('../../Assets/TelemedicineBenefits/leadin-iStock-1224454909\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

height: 389px;
display: flex;
flex-direction: column;
// justify-content: center;
padding-top: 20px;
text-align: center;
align-items: center;
    }




}