.package_detail_container_wrapper{

    .packages_banner{
        background-image: url('../../Assets/packageimage/home-doctor-visits\ 1.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    height: 241px;
    display: flex;
    // justify-content: center;
    align-items: center;
    
    }

    @media only screen and (max-width: 644px) {
  
        .packages_banner{
            background-image: url('../../Assets/packageimage/1669977714154women-health-inner-banner1\ 1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        height: 148px;
        width: 95%;
        border-radius: 25px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
        
        }
}
}